In [16]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('dog_data_short.csv')

In [17]:
my_df['Frame Header'] = ['Dog 1', 'Dog 2', 'Dog 3', 'Dog 4', 'Dog 5']
my_df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236        Dog 1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238        Dog 2
2        BELG MALINOIS      BRINDLE     EICH     15238        Dog 3
3                MIXED  BLACK/BROWN    ARROW     15104        Dog 4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139        Dog 5

In [18]:
my_df.set_index('Frame Header', inplace=True)
my_df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog 1                    COCKAPOO        BROWN  CHARLEY     15236
Dog 2                GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog 3               BELG MALINOIS      BRINDLE     EICH     15238
Dog 4                       MIXED  BLACK/BROWN    ARROW     15104
Dog 5         AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [19]:
my_df.reset_index(inplace=True)
my_df

  Frame Header                Breed        Color  DogName  OwnerZip
0        Dog 1             COCKAPOO        BROWN  CHARLEY     15236
1        Dog 2         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        Dog 3        BELG MALINOIS      BRINDLE     EICH     15238
3        Dog 4                MIXED  BLACK/BROWN    ARROW     15104
4        Dog 5  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [22]:
my_df.drop('Frame Header', axis=1, inplace=True)

In [23]:
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139